<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>emprise-purl-api - documentation</title>
    <link href="vendor/swagger-ui/swagger-ui.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/api/doc/css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>

    <% include partial/menu.ejs %>

    <div class="container">
        <h1>Documentation technique de l'APICARTO</h1>

        TODO :
        <ul>
            <li>Installer material design ou bootstrap</li>
            <li>Remonter le menu en entête</li>
            <li>Documenter la liste des modules sous forme de tuiles</li>
            <li>Documenter les jeux de données</li>
        </ul>
    </div>

</body>

</html>