<!DOCTYPE html>
<html>

<head>
    <%- include('partial/head.ejs') %>
</head>

<body>

    <%- include('partial/menu.ejs') %>

    <div class="container">
        <div class="modal-body">
            <h2>Mentions Légales</h2>
            <h3>Informations générales</h3>
            <p><strong>Éditeur du site apicarto.ign.fr </strong><br>
                Direction de la communication de l’Institut national de l’information géographique et forestière (IGN)<br>
    73, avenue de Paris – 94165  SAINT-MANDÉ CEDEX – France<br>
    Téléphone : 01 43 98 80 00
            </p>
            <p><strong>Directeur de la publication</strong><br>
    Sébastien Soriano, directeur général de l’IGN
            </p>
            <h3>Conception graphique et ergonomique, développements techniques et hébergement du site apicarto.ign.fr </h3>
            <p>La charte graphique, les développements techniques, l’hébergement et la maintenance du site apicarto.ign.fr sont assurés par l’IGN.</p>
            <h3>Droit de propriété intellectuelle</h3>
            <p>Les illustrations, les animations, les vidéos, le contenu éditorial, les divers éléments de la charte graphique ainsi que les données cartographiques issues de la consultation en ligne figurant sur le site apicarto.ign.fr sont la propriété de l'IGN.
                Leur utilisation est soumise à l'accord préalable de l’IGN.
    Écrire au gestionnaire du site 
            </p>
            <h3>Cookies et statistiques</h3>
            <p>Cette page ne fait pas l'objet de cookie ni de suivi. Il n'y a plus besoin de valider l'acceptation des cookies.</p>

            <h3>Liens hypertextes proposés sur apicarto.ign.fr</h3>
            <p>Le site apicarto.ign.fr renvoie sur de nombreux liens hypertextes.
    Ces pages web dont les adresses sont régulièrement vérifiées ne font pas partie du site apicarto.ign.fr : elles n’engagent donc pas la responsabilité de la rédaction du site apicarto.ign.fr. <br>
    La rédaction du site apicarto.ign.fr autorise la mise en place de liens hypertextes (y compris profonds) pointant vers ses pages mais se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site apicarto.ign.fr, à ses missions ou plus généralement à l’éthique d’un site d’un établissement public national.
            </p>
            <h3>Nous contacter</h3>
            <p>Pour toutes informations ou questions relatives au site apicarto.ign.fr : <br>
                <a href="mailto:apicarto@ign.fr"> Écrire au gestionnaire du site</a></p>
        </div>
    </div>

</body>

</html>