{
    "apps": [
        {
            "name": "apicarto",
            "script": "server.js",
            "exec_mode": "cluster",
            "instances": 1,
            "env": {
                "PG_URI": "postgres://localhost/apicarto",
                "GEOPORTAIL_KEY": "",
                "GEOPORTAIL_REFERER": "http://localhost",
                "PORT": 8091
            }
        }
    ]
}
