.menu {
    position: fixed;
    width: 180px;
}

.menu-item {
    padding: 10px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.container {
    margin-left: 180px;
}