<meta charset="utf-8">

<title>API Carto - Documentation Technique</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link href="vendor/swagger-ui/swagger-ui.css" media="screen" rel="stylesheet" type="text/css" />
<style>
    /* patch bootstrap theme for swagger-ui */
    pre.version {
        all: unset;
    }    
</style>
