<div class="menu">
    <hr />
    <h3 style="text-align: center;">Modules principaux</h3>
    <hr />

    <div class="menu-item"><a href="cadastre">Cadastre</a></div>
    <div class="menu-item"><a href="codes-postaux">Codes postaux</a></div>
    <div class="menu-item"><a href="gpu">Urbanisme (GpU)</a></div>
    <!-- experimental -->
    <hr />
    <h3 style="text-align: center;">Modules expérimentaux</h3>
    <hr />
    <div class="menu-item">
    <a href="aoc">AOC (source de données à reprendre pour rétablir la notion de granularité)</a>
    </div>
</div>